<!-- templates/emails/invite_email.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>You're Invited to Join Turntable</title>
</head>
<body>
    <h1>Hello,</h1>
    <p>You have been invited to join Turntable. Please click the link below to accept your invitation:</p>
    <p>
        <a href="{{ invite_url }}">Accept Invitation</a>
    </p>
    <p>If you did not expect this invitation, you can ignore this email.</p>
    <p>Thank you,<br>The Turntable Team</p>
</body>
</html>
